@model IEnumerable<MVC21BITV01Test.Data.KhachHang>

@{
    ViewData["Title"] = "Danh sách khách hàng";
}
<p>
    <a asp-action="Create">Tạo mới Khách hàng</a>
</p>

<div class="container mt-5">
    <h2 class="mb-4">Danh sách khách hàng</h2>

    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Mã khách hàng</th>
                <th>Tên công ty</th>
                <th>Địa chỉ</th>
                <th>Điện thoại</th>
                <th>Thành phố</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var khachHang in Model)
            {
                <tr>
                    <td>@khachHang.MaKh</td>
                    <td>@khachHang.TenCty</td>
                    <td>@khachHang.DiaChi</td>
                    <td>@khachHang.DienThoai</td>
                    <td>@khachHang.ThanhPho</td>
                </tr>
            }
        </tbody>
    </table>
</div>
